.amarillo{
	background-color: yellow;
}
.rojo{
	background-color: red;
}
div{
	height: 100px;
	width: 400px;
	font-size: 40px;
	margin-bottom:50px;
	
}
.pdl5{
	padding-left: 5px;
}
.pdt5{
	padding-top: 5px;

}
.may{
	text-transform: uppercase;
}